body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
  }
  
  .login-panel {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;

  }
  
  h2 {
    margin-bottom: 10px;
    color: rgb(9, 104, 171);;
  }
  
  p1 {
    font-size: 12px;
    color: #999;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .formlogin{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box; /* ปรับขนาดให้รวม border และ padding */
  }
  
  .show-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .options label {
    font-size: 12px;
    color: #555;
  }
  
  .forgot-password {
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
  }
  
  .btn-primary {
    width: 100%; /* กำหนดให้ปุ่มมีความกว้างเท่ากับกล่อง input */
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box; /* ปรับขนาดให้รวม border และ padding */
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .signup {
    margin-top: 20px;
    font-size: 12px;
  }
  
  .signup a {
    color: #007bff;
    text-decoration: none;
  }
  